-i https://pypi.org/simple
cachetools==5.5.2; python_version >= '3.7'
certifi==2025.7.14; python_version >= '3.7'
charset-normalizer==3.4.2; python_version >= '3.7'
cloudevents==1.12.0
deprecation==2.1.0
google-api-core[grpc]==2.25.1; python_version >= '3.7'
google-auth==2.40.3; python_version >= '3.7'
google-cloud-pubsub==2.31.0; python_version >= '3.7'
googleapis-common-protos[grpc]==1.70.0; python_version >= '3.7'
grpc-google-iam-v1==0.14.2; python_version >= '3.7'
grpcio==1.74.0; python_version >= '3.9'
grpcio-status==1.74.0; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
importlib-metadata==8.7.0; python_version >= '3.9'
opentelemetry-api==1.35.0; python_version >= '3.8'
opentelemetry-sdk==1.35.0; python_version >= '3.8'
opentelemetry-semantic-conventions==0.56b0; python_version >= '3.9'
packaging==25.0; python_version >= '3.8'
proto-plus==1.26.1; python_version >= '3.7'
protobuf==6.31.1; python_version >= '3.9'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
requests==2.32.4; python_version >= '3.8'
rsa==4.9.1; python_version >= '3.6' and python_version < '4'
typing-extensions==4.14.1; python_version >= '3.9'
urllib3==2.5.0; python_version >= '3.9'
zipp==3.23.0; python_version >= '3.9'
